@model Meeting_7.Models.Quest
@{
    ViewBag.Title = "Edit";
    Html.EnableClientValidation(false);
}

@using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="field">
        @Html.LabelFor(t => t.Title)
        @Html.TextBoxFor(t => t.Title)
    </div>
    <div class="field">
        @Html.LabelFor(t => t.Description)
        @Html.TextBoxFor(t => t.Description)
    </div>
    <div class="field">
        <label for="ImagePath">Путь к картинке</label>
        <div class="input__wrapper">
            <input type="file" name="image" id="input__file" class="input input__file">
            <label for="input__file" class="input__file-button">
                <span class="input__file-icon-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-up-fill" viewBox="0 0 16 16">
                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.354 9.854a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 8.707V12.5a.5.5 0 0 1-1 0V8.707L6.354 9.854z" />
                    </svg>
                </span>
                <span class="input__file-button-text">Выберите файл</span>
            </label>
        </div>
    </div>
    <div class="field">
        @Html.LabelFor(t => t.Difficulty)
        @Html.TextBoxFor(t => t.Difficulty)
    </div>
    <div class="field">
        @Html.LabelFor(t => t.Size)
        @Html.TextBoxFor(t => t.Size)
    </div>
    <div class="field">
        @Html.LabelFor(t => t.Time)
        @Html.TextBoxFor(t => t.Time)
    </div>
    <div class="field">
        @Html.LabelFor(t => t.LongDescriptionHeader)
        @Html.TextAreaFor(t => t.LongDescriptionHeader)
    </div>
    <div class="field">
        @Html.LabelFor(t => t.LongDescription)
        @Html.TextAreaFor(t => t.LongDescription)
    </div>
    <input type="submit" value="Сохранить" />
}
@section scripts
{
    <script>
    let inputs = document.querySelectorAll('.input__file');
    Array.prototype.forEach.call(inputs, function (input) {
      let label = input.nextElementSibling,
        labelVal = label.querySelector('.input__file-button-text').innerText;

      input.addEventListener('change', function (e) {
        let countFiles = '';
        if (this.files && this.files.length >= 1)
          countFiles = this.files.length;

        if (countFiles)
          label.querySelector('.input__file-button-text').innerText = 'Выбрано файлов: ' + countFiles;
        else
          label.querySelector('.input__file-button-text').innerText = labelVal;
      });
    });
    </script>
}